* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --light-green:rgb(98, 238, 208);
}
.nav-container {
  display: flex;
  align-items: center;
  margin: 3%;
  /* height: 100%; */
  border: 1px solid red;
}
.web-name {
  flex: 20%;
}
.web-nav {
  flex: 60%;
  display: flex;
  border: 1px solid red;
}
.web-nav a {
  text-decoration: none;
  color: black;
  padding: 0 2% 0 2%;
}
.web-signin {
  flex: 20%;
  display: flex;
}

.web-signin a {
  text-decoration: none;
}

.signin {
  padding: 5%;
}
.subscribe {
  border: 1px solid;
  padding: 5%;
}
/* .subscribe a {
  padding: 5%;
} */

.content-container {
  background-color: rgb(211, 210, 210);
  padding: 3%;
}
