* {
  margin: 0;
  box-sizing: border-box;
}
.site-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  height: 100vh;
  /* width: 100%; */
}

.main-content {
  border: 1px solid red;
  /* width: 100%; */
  height: 100%;
}

.stages {
  display: flex;
  justify-content: space-evenly;
  /* padding: 1em; */

  height: 50%;
}

.stages div {
  border: 1px solid blue;
  height: 100%;
}
.card {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  /* border: 1px solid red; */
}
.right-section button {
  margin: 0 0.5em 0 0.5em;
}
.fas,
.fa {
  font-size: 1.5em;
}
