* {
  margin: 0;
  box-sizing: border-box;
}
.site-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  height: 100%;
}

.stages {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.stage {
  margin: 1%;
  flex: 20%;
  text-align: center;
  padding: 1em;
  border: 1px solid blue;
}

.card {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin: 1em;
  border: 1px solid red;
}
.right-section button {
  margin: 0 0.5em 0 0.5em;
}
.fas,
.fa {
  font-size: 1.5em;
}

.new-task input,
button {
  height: 3em;
  margin: 1em;
}
